################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DotNetDevTips/FileContentIndex
/.vs
/DotNetDevDB/obj
/DotNetDevWebTips/obj
/DotNetDevTips/obj
/DotNetDevDB/bin/Debug/net9.0
/DotNetDevWebTips/bin/Debug/net9.0
